body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:15px;
	line-height:1.5;
	
	padding:0;
	margin:0;
	background-color:#fffdf4;
}

/* Global */
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

ul{
	margin:0;
	padding:0;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Header */
header{
	background:#b2fbff;
	color:#ff00fa;
	padding-top:10px;
	min-height:70px;
}

header a{
	color:#a8a8a8;
	text-decoration:none;
	font-size:16px;
}


header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #logoheader img{
	margin-right: 20px;
}

header #logoheader{
	float:left;
}

header #logoheader a{
	margin:0;
	color:#ff00fa;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:none;
	font-size:35px;
}

header nav{
	float:right;
	margin-top:35px;
}

header a:hover{
	color:#cccccc;
}


/* Introduction */
#introduction{
	padding-top:15px;
	margin-bottom:0;
}

#introduction container{
	padding-top:0;
	padding-bottom:0;
}

#introduction h1{
	padding-top:0;
	padding-bottom:0;
	margin-top:0;
	margin-bottom:0;
	text-align:center;
	font-size:55px;
	font-weight:bold;
	color:#777777
}

#introduction h2{
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	text-align:center;
	font-size:35px;
	font-weight:bold;
}

#introduction h3{
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	text-align:center;
	font-size:25px;
}

/* Boxes */
#gameshowcase{
	margin-top: 20px;
}

#containergames {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
#containergames .gamebox{
	float:left;
	text-align:center;
	width:32%;
	min-width:300px;
	padding:10px;
}

#containergames .gamebox p{
	font-size:17px;
	margin-right:50%;
	transform: translate(50%);
	padding:9px;
}

#containergames .gamebox h3{
	font-size:25px;
}

#containergames .gamebox img{
	width:300px;
	height:300px;
}

/* Description */
#moreinfo .container{
	text-align:center;
}



