body {
  color:rgb(0,0,0);
  background-color:rgb(255,255,255);
  font-family:Lato;
  font-weight:bold;
}

#hero {
  width:100%;
  background-image:url("../../assets/img/background-img.png");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  height:95px;
  min-height:95px;
}

.navbar-light .navbar-brand {
  background-image:url("../../assets/img/ls-logo.png");
  background-repeat:no-repeat;
  width:70px;
  background-position:center;
  background-size:80%;
  height:70px;
  margin-top:6px;
}

#navcol-1 {
  font-size:18px;
  font-family:Lato;
}

.navbar-light .navbar-nav .nav-link {
  color:#ffffff;
  letter-spacing:2px;
}

.navbar-light .navbar-nav .nav-link {
}

.nav-item {
  padding-right:24px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color:rgb(175,176,176);
}

#page1-title {
  width:640px;
  min-width:auto;
}

#page-1-long-story {
  margin-top:254px;
  padding-left:120px;
  padding-right:120px;
}

#Title {
  letter-spacing:2.36px;
}

#games-page {
  /*width:100%;*/
  /*height:100vh;*/
  background-image:url("../../assets/img/games-img.png");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  padding:0px 30px;
}

#long-story-title {
  color:rgb(255,255,255);
}

.block-heading {
  margin-bottom:39px;
}

#controls {
  opacity:0;
}

.card {
  background-color:rgba(255,255,255,0);
}

.col-4 {
  padding-bottom:10px;
}

.row.story-time {
  padding-top:53px;
  padding-right:20px;
  padding-left:20px;
}

@media (min-width: 768px) {
  .col-md-6.col-lg-4.item.zoom-on-hover {
    max-width:25%;
	margin-left:5%;
  }
}

@media (min-width: 576px) {
  .col-md-6.col-lg-4.item.zoom-on-hover {
    width:190px;
    margin-top:20px;
  }
}

@media (min-width: 300px) {
  .col-md-6.col-lg-4.item.zoom-on-hover {
	margin-left: 5%;
    width:85%;
    margin-top:30px;
  }
}

@media (min-width: 1200px) {
  .col-md-6.col-lg-4.item.zoom-on-hover {
    max-width:300px;
    margin-left:40px;
  }
}

@media (min-width: 1000px) {
  .col-md-6.col-lg-4.item.zoom-on-hover {
    width:340px;
  }
}

@media (min-width: 902px) {
  .col-md-6.col-lg-4.item.zoom-on-hover {
    width:300px;
  }
}

.story-time-wednesday-header {
}

.col {
  text-align:center;
}

a:hover {
  color:white;
  text-decoration:underline;
}

.container {
}

.h3, h3 {
}

.icon.ion-social-linkedin {
  font-size:36px;
}

.team-clean .social:hover {
}


#email-icon {
}

